.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #1f2937;
  opacity: 1;
  transition: all 0.4s ease;
}

.swiper-pagination-bullet:hover {
  background: #1f2937;
  width: 25px;
  border-radius: 8px;
}

.swiper-pagination-bullet-active {
  background: #000;
  width: 25px;
  border-radius: 8px;
}
